@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 500;
  src: url("font/Inconsolata.ttf"),
}

@keyframes slide {
    from {background-position: 0px 0px;}
    to {background-position: -256px 256px;}
}

:root {
  --bg-image: url("assets/img/bg/background.jpg");
  --bgcolor-dark-mode: #000000;
  --bgcolor-light-mode: #000000;
  --light-mode-text: #000000;
  --dark-mode-text: #ffffffe6;

  color-scheme: dark;
}


@media (prefers-color-scheme: light) {
   
}

body {
  background-image: var(--bg-image); 
 /* background-image: linear-gradient(to bottom, #002fff7c, #003f917c); */
  color: var(--dark-mode-text);
  font-family: "Inconsolata";
}



.main {
  background-color:#000000b6;
  border: 1px solid white;
  width: 1000px;
  height: auto;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-areas: 
  'grid-main-header grid-main-header'
  'grid-about grid-about'
  'grid-projects grid-projects grid-blog';
  gap: 20px;

}
