@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 500;
  src: url("/public/font/Inconsolata.ttf"),
}

@keyframes slide {
    from {background-position: 0px 0px;}
    to {background-position: -256px 256px;}
}

:root {
  --background-image: url("/public/assets/img/bg/background.jpg");
  --light-mode-text: #000000;
  --dark-mode-text: #ffffffe6;
  color-scheme: dark;
}


@media (prefers-color-scheme: light) {
   
}

body {
  background-image: var(--background-image); 
  color: var(--dark-mode-text);
  font-family: "Inconsolata";
  animation-name: slide;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



.main {
  background-color:#000000ae;
  border: 1px solid white;
  width: 1000px;
  height: auto;
  margin: auto;
  padding: 19px;
}

.about-me {
  display: flex;
}

.about-me .pfp-ref {
  padding: auto;
}

.about-me .text p {
  font-size: 22px;
}
.about-me .text {
  width: 780px;
}

.projects {
  
}


.site-nav-bar {
  text-align: center;
}

.site-nav-bar a {
  text-decoration: none;
  color: var(--whiteTxtColor);
  font-size: 25px;
  margin: 15px;
}

.site-nav-bar a:hover {
  text-decoration: underline;
}

.site-nav-bar li {
  display: inline;
}

.site-nav-bar ul {
  list-style-type: none;
}


#logo {
  text-align: center;
  padding: 10px;
}

footer {
  text-align: center;
}
